.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
.Rdata
.httr-oauth
.DS_Store
*.Rproj
*.pdf
data.irf_fevd.RData
ext.data.irf_fevd.RData
ext2.data.irf_fevd.RData
ext2.sim.struct.RData
ext.struct.RData
ext2.struct.RData
ext3.struct.RData
